{% extends 'MesAlgo/base.html' %} {% block content %}
<h1>BONUS</h1>
<br><br>
<a href="https://academic.microsoft.com/search?q=t-sne&f=&orderBy=0&skip=0&take=10">Quelques papiers ici</a><br><br>
<a href="https://github.com/ayrna/orca#datasets"> Datasets</a><br><br>
<a href="https://distill.pub/2016/misread-tsne/">BONUS</a><br><br><br><br>
<h1>Merci pour votre attention</h1>
<br><br><br>
<a href="https://github.com/qgeindreau/TSNE-presentation"> Lien pour le git de cette présentation</a>
{% endblock %}
